<section class="card">
    <section class="card-header">
       <h4><a class="link" href="/post/{{id}}">{{title}}</a></h4>
        <p>Posted by {{user.username}} on {{format_date created_at}}</p>
    </section>
        <p class="card-body">{{content}}</p>
</section>
{{#each comments}}
    <div class="comments">
        <h3 class="card-header"></h3>
        <section class="comment card-body">
            <div class="text">
                {{comment_text}}
            </div>
            <div class="meta">
                {{user.username}}, {{format_date created_at}}
            </div>
        </section>
    </div>
  {{/each}}